<label ng-attr-for="{{fid}}"
    class="col-md-2 col-md-offset-1 control-label">
    {{field.name}}
</label>

<div class="col-md-8">
    <input
        class="form-control"
        ng-attr-name="{{fid}}"
        ng-attr-type="{{field.type}}"
        ng-model="mdl[field.url]"
        ng-focus="triggerHelp(field)"
        ng-required="field.required"/>

    <a href ng-attr-data-target="{{'#' + fid + '-desc'}}" data-toggle="collapse">
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>

    <div class="collapse" ng-attr-id="{{fid + '-desc'}}">
        <div class="well">{{field.description}}</div>
    </div>
</div>